.comment {
  background-color: @gray;
  // width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -15px;
  margin-bottom: 19px;
}

.comment__title {
}

.comment--of-the-day {
  margin-left: 20px;
  margin-right: 20px;
}

.comment__name {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: @darkblue;
  padding-top: 17px;
  padding-left: 17px;
}

.comment__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: @darkblue;
  text-transform: uppercase;
}

.comment__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @darkblue;
  margin-top: -17px;
  padding-left: 17px;
  margin-bottom: -2px;
}

.comment__likes {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
  padding-left: 49px;
  margin-bottom: 21px;
}

.comment__likes::before {
  position: absolute;
  content: "";
  background: url(../img/icon-heart.svg) no-repeat;
  width: 13px;
  height: 12px;
  top: 5px;
  left: 19px;
}
