.comment {
    background-color: @gray;
}

.comment__title {
}

.comment__name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: @darkblue;
}

.comment__time {
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    color: @darkblue;
    text-transform: uppercase;
}

.comment__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: @darkblue;
}

.comment__likes {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: @pink;
    text-transform: uppercase;
}
