.copyright {
  margin-top: 127px;
  margin-left: 94px;

}

.copyright__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: @darkblue;
    margin-right: 20px;
    text-decoration: none;
}

.copyright__text img {
  vertical-align: middle;
  padding-left: 12px;
  padding-top: 2px;
}
