.offer {
  background-color: @white;
  padding-top: 8px;
  padding-bottom: 42px;


}

.offer__text {
  margin-left: 20px;
  margin-right: 20px;
  // width: 280px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @darkblue;
  text-align: center;

}
