.post-photo {
  text-align: center;
  // width: 320px;

}

.post-photo__content {
  // padding-top: 20px;
  // width: calc(100% - 40px);
}


.post-photo__tools {
  height: 190px;
  display: inline-block;

}

.post-photo--gray {
  background-color: @gray;
  padding-top: 20px;
  // padding-right: 20px;
  // width: 280px;
  margin-top: -13px;
  padding-bottom: 41px;
}
