.radius-button {
    font-family: @fonts;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @white;

}

.radius-button--red {
    color: @pink;

}

.radius-button--gray {
    color: @gray;
}
