.user-photo {
}

.user-photo__image {
  margin-bottom: 10px;
}

.user-photo__image--margin {
  margin-bottom: 22px;
}

.user-photo__image--margin-up {
  margin-bottom: 12px;
}

.user-photo__image--margin-down {
  margin-bottom: 12px;
}

.user-photo__container {
}

.user-photo__image--of-the-day {
  position: relative;
  margin-top: 49px;
}

.user-photo__image--of-the-day::after {
  position: absolute;
  content: "панорама дня";
  color: @white;
  top: 5px;
  left: 179px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.user-photo__image--of-the-day::before {
  position: absolute;
  content: "";
  background: @pink;
  width: 140px;
  height: 36px;
  top: 0px;
  left: 160px;
}

@media @tablet-widths {
  .user-photo {
    width: 300px;
    margin-bottom: 2px;
  }

  .user-photo__image {
    height: 303px; //временно
  }

  .user-photo__image--of-the-day::before {
    top: 57px;
    left: 520px;
  }

  .user-photo__image--of-the-day::after {
    top: 63px;
    left: 538px;
  }

  .user-photo__image--of-the-day {
    height: 508px; //временно
    width: 700px;
    margin-bottom: 0px;
  }
}

@media @desktop-widths {
  .user-photo__image--of-the-day::before {
    top: 54px;
    left: 930px;
  }

  .user-photo__image--of-the-day::after {
    top: 60px;
    left: 949px;
  }

  .user-photo {
    width: 300px;
    margin-bottom: 37px;
  }

  .user-photo__image {
    height: 404px; //временно
  }

  .user-photo__image--of-the-day {
    width: 1200px;
    height: 506px;
    margin-bottom: 0px;
  }
}
